<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Content Aggregator</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo"><p>CONTENT AGGREGATOR</p>
        <img id="settings" src="{{ url_for('static', filename='images/settings.svg') }}">
        <div id="settings"></div>
    </header>
    <div id="content">

      {%  for site_news in every_news %}
        <div class="news_container">
          <ul>
            {% for news in site_news %}

            <li><a href="{{ news[1] }}" target='_blank'>{{ news[0] }}</a></li>

            {% endfor %}
          </ul>
        </div>
      {% endfor %}

    </div>
    <footer>

    </footer>
    <div id="modal" class="popup">
        <div id="modal-content" class="popup">
            <h3>Settings</h3>

        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</html>
